 @font-face {
    font-family: quiztown;
    src: url(fonts/DynaPuff_Condensed-Bold.ttf);
}

*{
    box-sizing: border-box;
    font-size: 20px;
}

body{
    background-color: rgb(0, 162, 255);
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* TOWN CSS */
.title{
    position: absolute;
    top: 70%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 6;
    font-size: 10em;
    line-height: 0.8;
    font-family: quiztown;
    color: white;
    opacity: 0;
    animation: titleIn 1s 2s forwards;
    text-align: center;
    
}

.quizTown{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hill{
    position: absolute;
    top: 100%;
    left: 50%;
    transform:translate(-50%, -50%);
    transform-origin: center;
    width: 150%;
    height: 80%;
    border-radius: 45% 45% 0 0 / 80% 80% 0 0;
    background:rgb(64, 185, 64);
    border: 100px solid rgb(76, 75, 75);
    outline: 100px solid rgb(50, 168, 50);
    z-index: 1;
    animation: slideUpHill 2s ease-in-out;
}

.bank{
    width: 30%;
    position: absolute;
    top: 47%;
    left: 25%;
    transform:translate(-50%, -50%) rotate(357deg);
    transform-origin: center;
    z-index: 3;
    animation: slideUpBank 2s ease-in-out;
}

.museum{
    width: 30%;
    position: absolute;
    top: 46%;
    left: 73%;
    transform:translate(-50%, -50%) rotate(3deg);
    z-index: 3;
    animation: slideUpMus 2s ease-in-out;
}

.science{
    width: 30%;
    position: absolute;
    top: 44%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 3;
    animation: slideUpSci 2s ease-in-out;
}

.university{
    width: 60%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 2;
    animation: slideUpUni 2s ease-in-out;
    filter: brightness(0.85);
}


/* ANIMATIONS */
@keyframes slideUpHill{
    from{ transform:translate(-50%, 20%);}
    to{transform:translate(-50%, -50%);}
}

@keyframes slideUpUni{
    from{ transform:translate(-50%, 40%);}
    to{transform:translate(-50%, -50%);}
}

@keyframes slideUpSci{
    from{ transform:translate(-50%, 120%);}
    to{transform:translate(-50%, -50%);}
}

@keyframes slideUpMus{
    from{ transform:translate(-50%, 120%) rotate(3deg);}
    to{transform:translate(-50%, -50%) rotate(3deg);}
}

@keyframes slideUpBank{
    from{ transform:translate(-50%, 120%) rotate(357deg);}
    to{transform:translate(-50%, -50%) rotate(357deg);}
}

@keyframes titleIn{
    from{transform: translate(-50%, -50%) scale(0.1);}
    to{transform: translate(-50%, -50%) scale(1); opacity: 1;}
}